.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scientific-name {
  font-style: italic;
}

.plant-image {
  width: 100%;
  max-height: auto;
}

.plant-page {
  display: flex;
}

.plant-page-img-column {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 40px;
  box-sizing: border-box;
}

.plant-page-descriptions {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 40px;
  box-sizing: border-box;
}

.accordion {
}

@media screen and (max-width: 600px) {
  .plant-page {
    flex-direction: column;
  }
  .plant-page-img-column,
  .plant-page-descriptions {
    width: 100%;
  }
}
