@import url("http://fonts.cdnfonts.com/css/bukhari-script");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Josefin+Sans:wght@400;500&display=swap");

.web-name {
  font-family: "Bukhari Script", sans-serif;
}

.login-button {
  font-family: "Fira Sans", sans-serif;
  color: "inherit";
  position: absolute;
  right: 15px;
}

.App {
  text-align: center;
}

.scientific-name {
  font-style: italic;
  margin: 0px;
}

.plant-image {
  width: 100%;
  max-height: auto;
}

.plant-page {
  display: flex;
  margin-top: 50px;
}

.plant-page-img-column {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 40px;
  box-sizing: border-box;
}

.plant-page-descriptions {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 40px;
  box-sizing: border-box;
}

.accordion {
  margin: 5px 0;
}

@media screen and (max-width: 600px) {
  .plant-page {
    flex-direction: column;
  }
  .plant-page-img-column,
  .plant-page-descriptions {
    width: 100%;
  }
}

header {
  background-color: #224907;
}

.logo-button {
  background-image: url("./assets/PlantBabyLogo.png");
}
